*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:linear-gradient(180deg,#0b1e3c 15%, #05070d 70%);
color:white;
}

.navbar{

position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);

width:90%;

background: rgba(255,255,255,0.08);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
border: 1px solid rgba(255,255,255,0.15);
box-shadow: 0 8px 32px rgba(0,0,0,0.25);

padding:15px 40px;

border-radius:15px;

display:flex;
align-items:center;
justify-content:space-between;

z-index:1000;

}

.profile{
display:flex;
align-items:center;
gap:12px;
text-decoration:none;
color:white;
}

.profile img{
width:45px;
height:45px;
border-radius:8px;
}

.profile h2{
font-size:28px;
}

.profile p{
font-size:13px;
opacity:.7;
}

.nav-right{
display:flex;
align-items:center;
gap:40px;
}

nav{
display:flex;
gap:25px;
}

nav a{

color:#2e8fff;
text-decoration:none;
font-weight:500;
position:relative;

}

nav a:hover{
color:white;
}

nav a::after{

content:"";
position:absolute;
width:0;
height:2px;
left:0;
bottom:-4px;
background:#2e8fff;
transition:.3s;

}

nav a:hover::after{
width:100%;
}

.socials{
display:flex;
gap:10px;
}

.github,.insta{

display:flex;
align-items:center;
gap:8px;

border:1px solid #aaa;
padding:8px 14px;

border-radius:6px;

text-decoration:none;
color:white;

transition:.3s;

}

.github:hover{
background:black;
border-color:#b9d46e;
box-shadow:0 0 10px #b9d46e;
}

.insta:hover{
background:#e1306c;
border-color:#b9d46e;
box-shadow:0 0 10px #b9d46e;
}

.donate{

display:flex;
align-items:center;
gap:8px;

border:1px solid #aaa;
padding:8px 14px;

border-radius:6px;

text-decoration:none;
color:white;

transition:0.3s;

}

.donate:hover{

background:#7b2cff;
border-color:#b9d46e;
box-shadow:0 0 10px #b9d46e;

}


.hero{

min-height:100vh;

display:flex;
align-items:center;
justify-content:space-between;

padding:140px 10% 60px 10%;

}

.hero-left{
max-width:600px;
}

.hero-left h1{
font-size:60px;
margin-bottom:20px;
}

.hero-left p{
color:#cfd6e1;
margin-bottom:30px;
line-height:1.6;
}

.buttons{
display:flex;
gap:15px;
margin-bottom:30px;
}

.btn{

display:flex;
align-items:center;
gap:10px;

padding:14px 20px;

border-radius:8px;

text-decoration:none;
color:white;
font-weight:500;

transition:0.25s;

}

.btn:hover{

box-shadow:0 0 12px rgba(255,255,255,0.25);

}

.pc{
background:#2e8fff;
}

.android{
background:#16a085;
}

.btn.github{
background:#162237;
}

.features-mini{
display:flex;
gap:30px;
font-size:14px;
opacity:.8;
}

.hero-right img{
width:320px;
border-radius:20px;
border:2px solid #aaa;
}

.page{

min-height:100vh;

display:flex;
align-items:center;
justify-content:center;

font-size:40px;

}